# Table of Contents
- Import libraries

- Import Data

- Data Wrangling

- Data Cleaning

- Basic Descriptive Stats

- Export final data

# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [7]:
# Define path
path = r'C:\Users\tom\OneDrive\Documents\CareerFoundry - Data Analytics Course\Data Immersion\Tasks\Achievement 6\European Football Analysis'

In [8]:
# Import dataframe
df_football = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2021-2022 Big 5 European Football Leagues RAW.csv'))

# 03. Data Wrangling

In [90]:
# Check shape of imported dataframe
df_football.shape

(2921, 35)

# a. Data Types

In [91]:
# Checking data types
df_football.dtypes

Rk             int64
Player        object
Nation        object
Pos           object
Squad         object
Comp          object
Age          float64
Born         float64
MP             int64
Starts         int64
Min            int64
90s          float64
Gls            int64
Ast            int64
G-PK           int64
PK             int64
PKatt          int64
CrdY           int64
CrdR           int64
Gls90        float64
Ast90        float64
G+A90        float64
G-PK90       float64
G+A-PK90     float64
xG           float64
npxG         float64
xA           float64
npxG+xA      float64
xG90         float64
xA90         float64
xG+xA90      float64
npxG90       float64
npxG+xA90    float64
Matches       object
-9999         object
dtype: object

Age and Born should be integer values as they're exact. However, missing values are preventing me from changing the data types. I will address this in 'missing values'.

# b. Drop Columns

In [92]:
# Drop columns not required
df_football = df_football.drop(['Rk', 'Matches', '-9999'], axis = 1)

# c. Rename Columns

In [93]:
# Rename columns
df_football.rename(columns = {'Pos':'Position', 'Squad':'Team', 'Comp':'Competition', 'MP':'Matches Played', 'Min':'Minutes Played', '90s':'90s Played', 'Gls':'Goals', 'Ast':'Assists', 'G-PK':'Non-Penalty Goals', 'PK':'Penalty Goals', 'PKatt':'Penalty Attempts', 'CrdY':'Yellow Cards', 'CrdR':'Red Cards', 'Gls90':'Goals90', 'Ast90':'Assists90'}, inplace = True)

In [94]:
# Check column names
df_football.head()

,Player,Nation,Position,Team,Competition,Age,Born,Matches Played,Starts,Minutes Played,...,G+A-PK90,xG,npxG,xA,npxG+xA,xG90,xA90,xG+xA90,npxG90,npxG+xA90
0,Max Aarons,eng ENG,DF,Norwich City,eng Premier League,21.0,2000.0,34,32,2881,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
1,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,33.0,1987.0,34,34,2983,...,0.06,1.2,1.2,0.8,2.1,0.04,0.02,0.06,0.04,0.06
2,Salis Abdul Samed,gh GHA,MF,Clermont Foot,fr Ligue 1,21.0,2000.0,31,29,2462,...,0.04,0.8,0.8,1.1,1.9,0.03,0.04,0.07,0.03,0.07
3,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,28.0,1993.0,34,34,2956,...,0.06,2.0,2.0,2.9,4.9,0.06,0.09,0.15,0.06,0.15
4,Charles Abi,fr FRA,FW,Saint-Ã‰tienne,fr Ligue 1,21.0,2000.0,1,1,45,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00

# d. Rename Values

In [95]:
# Rename Position Values
df_football['Position'] = df_football['Position'].replace(['DF','MF','FW','MFFW','FWMF'],['Defender','Midfielder','Forward','Midfielder/Forward','Midfielder/Forward'])

In [96]:
# View Position Values
df_football['Position']

0                 Defender
1                 Defender
2               Midfielder
3               Midfielder
4                  Forward
               ...
2916            Midfielder
2917            Midfielder
2918            Midfielder
2919               Forward
2920    Midfielder/Forward
Name: Position, Length: 2921, dtype: object

# 04. Data Cleaning

# a. Duplicates

In [97]:
# Finding duplicate values
df_football[df_football.duplicated()]

Empty DataFrame
Columns: [Player, Nation, Position, Team, Competition, Age, Born, Matches Played, Starts, Minutes Played, 90s Played, Goals, Assists, Non-Penalty Goals, Penalty Goals, Penalty Attempts, Yellow Cards, Red Cards, Goals90, Assists90, G+A90, G-PK90, G+A-PK90, xG, npxG, xA, npxG+xA, xG90, xA90, xG+xA90, npxG90, npxG+xA90]
Index: []

[0 rows x 32 columns]

No duplicates found.

# b. Mixed Data Types

In [98]:
# Checking mixed data types
for col in df_football.columns.tolist():
  weird = (df_football[[col]].applymap(type) != df_football[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_football[weird]) > 0:
    print (col)

Nation

In [99]:
# Change Nation data type to string
df_football['Nation'] = df_football['Nation'].astype('str')

# c. Missing Values

In [100]:
# Check for missing values
df_football.isnull().sum()

Player               0
Nation               0
Position             0
Team                 0
Competition          0
Age                  1
Born                 1
Matches Played       0
Starts               0
Minutes Played       0
90s Played           0
Goals                0
Assists              0
Non-Penalty Goals    0
Penalty Goals        0
Penalty Attempts     0
Yellow Cards         0
Red Cards            0
Goals90              0
Assists90            0
G+A90                0
G-PK90               0
G+A-PK90             0
xG                   0
npxG                 0
xA                   0
npxG+xA              0
xG90                 0
xA90                 0
xG+xA90              0
npxG90               0
npxG+xA90            0
dtype: int64

In [101]:
# Add missing values
df_football['Age'].fillna(19, inplace=True)
df_football['Born'].fillna(2002, inplace=True)

In [102]:
# Check for missing values
df_football.isnull().sum()

Player               0
Nation               0
Position             0
Team                 0
Competition          0
Age                  0
Born                 0
Matches Played       0
Starts               0
Minutes Played       0
90s Played           0
Goals                0
Assists              0
Non-Penalty Goals    0
Penalty Goals        0
Penalty Attempts     0
Yellow Cards         0
Red Cards            0
Goals90              0
Assists90            0
G+A90                0
G-PK90               0
G+A-PK90             0
xG                   0
npxG                 0
xA                   0
npxG+xA              0
xG90                 0
xA90                 0
xG+xA90              0
npxG90               0
npxG+xA90            0
dtype: int64

In [103]:
# Change Age data type to integer
df_football['Age'] = df_football['Age'].astype('int64')

In [104]:
# Change Born data type to integer
df_football['Born'] = df_football['Born'].astype('int64')

In [105]:
# Checking data types
df_football.dtypes

Player                object
Nation                object
Position              object
Team                  object
Competition           object
Age                    int64
Born                   int64
Matches Played         int64
Starts                 int64
Minutes Played         int64
90s Played           float64
Goals                  int64
Assists                int64
Non-Penalty Goals      int64
Penalty Goals          int64
Penalty Attempts       int64
Yellow Cards           int64
Red Cards              int64
Goals90              float64
Assists90            float64
G+A90                float64
G-PK90               float64
G+A-PK90             float64
xG                   float64
npxG                 float64
xA                   float64
npxG+xA              float64
xG90                 float64
xA90                 float64
xG+xA90              float64
npxG90               float64
npxG+xA90            float64
dtype: object

# 05. Basic Descriptive Stats

In [106]:
# Descriptive analysis
df_football.describe()

,Age,Born,Matches Played,Starts,Minutes Played,90s Played,Goals,Assists,Non-Penalty Goals,Penalty Goals,...,G+A-PK90,xG,npxG,xA,npxG+xA,xG90,xA90,xG+xA90,npxG90,npxG+xA90
count,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,...,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000,2921.000000
mean,25.236220,1995.417665,18.803150,13.752824,1234.984937,13.721602,1.702157,1.183499,1.540911,0.161246,...,0.193667,1.710613,1.558028,1.144745,2.703595,0.140051,0.090705,0.230952,0.132116,0.223023
std,4.635738,4.637490,11.622071,11.395468,978.079236,10.866804,3.185094,1.991217,2.794525,0.726469,...,0.497886,2.837941,2.458917,1.619173,3.715488,0.355142,0.239463,0.454393,0.350370,0.449622
min,15.000000,1981.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,1992.000000,8.000000,3.000000,307.000000,3.400000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.100000,0.100000,0.000000,0.200000,0.010000,0.010000,0.040000,0.010000,0.040000
50%,25.000000,1996.000000,20.000000,12.000000,1102.000000,12.200000,0.000000,0.000000,0.000000,0.000000,...,0.080000,0.600000,0.600000,0.500000,1.300000,0.060000,0.050000,0.130000,0.060000,0.130000
75%,29.000000,1999.000000,29.000000,23.000000,2025.000000,22.500000,2.000000,2.000000,2.000000,0.000000,...,0.270000,2.000000,1.900000,1.700000,3.600000,0.170000,0.120000,0.320000,0.160000,0.310000
max,40.000000,2006.000000,38.000000,38.000000,3420.000000,38.000000,35.000000,18.000000,30.000000,9.000000,...,18.000000,32.600000,28.900000,13.200000,34.500000,13.930000,6.520000,13.930000,13.930000,13.930000

Data seems to be consistent with what I would expect.

# 06. Export Data

In [107]:
# Export new dataframe
df_football.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '2021-2022 Big 5 European Football Leagues CLEAN.csv'))